In [1]:
import pandas as pd

In [26]:
names="统一编号	X	Y	地面高程	井口高程	地下水类型	1990年1月	1990年2月	1990年3月	1990年4月	1990年5月	1990年6月	1990年7月	1990年8月	1990年9月	1990年10月	1990年11月	1990年12月	1991年1月	1991年2月	1991年3月	1991年4月	1991年5月	1991年6月	1991年7月	1991年8月	1991年9月	1991年10月	1991年11月	1991年12月	1992年1月	1992年2月	1992年3月	1992年4月	1992年5月	1992年6月	1992年7月	1992年8月	1992年9月	1992年10月	1992年11月	1992年12月	1993年1月	1993年2月	1993年3月	1993年4月	1993年5月	1993年6月	1993年7月	1993年8月	1993年9月	1993年10月	1993年11月	1993年12月	1994年1月	1994年2月	1994年3月	1994年4月	1994年5月	1994年6月	1994年7月	1994年8月	1994年9月	1994年10月	1994年11月	1994年12月	1995年1月	1995年2月	1995年3月	1995年4月	1995年5月	1995年6月	1995年7月	1995年8月	1995年9月	1995年10月	1995年11月	1995年12月	1996年1月	1996年2月	1996年3月	1996年4月	1996年5月	1996年6月	1996年7月	1996年8月	1996年9月	1996年10月	1996年11月	1996年12月	1997年1月	1997年2月	1997年3月	1997年4月	1997年5月	1997年6月	1997年7月	1997年8月	1997年9月	1997年10月	1997年11月	1997年12月	1998年1月	1998年2月	1998年3月	1998年4月	1998年5月	1998年6月	1998年7月	1998年8月	1998年9月	1998年10月	1998年11月	1998年12月	1999年1月	1999年2月	1999年3月	1999年4月	1999年5月	1999年6月	1999年7月	1999年8月	1999年9月	1999年10月	1999年11月	1999年12月	2000年1月	2000年2月	2000年3月	2000年4月	2000年5月	2000年6月	2000年7月	2000年8月	2000年9月	2000年10月	2000年11月	2000年12月	2001年1月	2001年2月	2001年3月	2001年4月	2001年5月	2001年6月	2001年7月	2001年8月	2001年9月	2001年10月	2001年11月	2001年12月	2002年1月	2002年2月	2002年3月	2002年4月	2002年5月	2002年6月	2002年7月	2002年8月	2002年9月	2002年10月	2002年11月	2002年12月	2003年1月	2003年2月	2003年3月	2003年4月	2003年5月	2003年6月	2003年7月	2003年8月	2003年9月	2003年10月	2003年11月	2003年12月	2004年1月	2004年2月	2004年3月	2004年4月	2004年5月	2004年6月	2004年7月	2004年8月	2004年9月	2004年10月	2004年11月	2004年12月	2005年1月	2005年2月	2005年3月	2005年4月	2005年5月	2005年6月	2005年7月	2005年8月	2005年9月	2005年10月	2005年11月	2005年12月	2006年1月	2006年2月	2006年3月	2006年4月	2006年5月	2006年6月	2006年7月	2006年8月	2006年9月	2006年10月	2006年11月	2006年12月	2007年1月	2007年2月	2007年3月	2007年4月	2007年5月	2007年6月	2007年7月	2007年8月	2007年9月	2007年10月	2007年11月	2007年12月	2008年1月	2008年2月	2008年3月	2008年4月	2008年5月	2008年6月	2008年7月	2008年8月	2008年9月	2008年10月	2008年11月	2008年12月	2009年1月	2009年2月	2009年3月	2009年4月	2009年5月	2009年6月	2009年7月	2009年8月	2009年9月	2009年10月	2009年11月	2009年12月	2010年1月	2010年2月	2010年3月	2010年4月	2010年5月	2010年6月	2010年7月	2010年8月	2010年9月	2010年10月	2010年11月	2010年12月	2011年1月	2011年2月	2011年3月	2011年4月	2011年5月	2011年6月	2011年7月	2011年8月	2011年9月	2011年10月	2011年11月	2011年12月	2012年1月	2012年2月	2012年3月	2012年4月	2012年5月	2012年6月	2012年7月	2012年8月	2012年9月	2012年10月	2012年11月	2012年12月	2013年1月	2013年2月	2013年3月	2013年4月	2013年5月	2013年6月	2013年7月	2013年8月	2013年9月	2013年10月	2013年11月	2013年12月	2014年1月	2014年2月	2014年3月	2014年4月	2014年5月	2014年6月	2014年7月	2014年8月	2014年9月	2014年10月	2014年11月	2014年12月	2015年1月	2015年2月	2015年3月	2015年4月	2015年5月	2015年6月	2015年7月	2015年8月	2015年9月	2015年10月	2015年11月	2015年12月	2016年1月	2016年2月	2016年3月	2016年4月	2016年5月	2016年6月	2016年7月	2016年8月	2016年9月	2016年10月	2016年11月	2016年12月	2017年1月	2017年2月	2017年3月	2017年4月	2017年5月	2017年6月	2017年7月	2017年8月	2017年9月	2017年10月	2017年11月	2017年12月	2018年1月	2018年2月	2018年3月	2018年4月	2018年5月	2018年6月	2018年7月	2018年8月	2018年9月	2018年10月	2018年11月	2018年12月"
col_names=names.split()
data=pd.read_excel('data.xlsx',names=col_names)

In [27]:
data.head()

,统一编号,X,Y,地面高程,井口高程,地下水类型,1990年1月,1990年2月,1990年3月,1990年4月,...,2018年3月,2018年4月,2018年5月,2018年6月,2018年7月,2018年8月,2018年9月,2018年10月,2018年11月,2018年12月
0,6401020001,4259277,609637,1109.54,1110.75,承压水,1095.59,1095.80,1093.78,1094.25,...,1102.19,1097.18,1094.63,1092.35,1091.37,1091.59,1091.76,1096.96,1098.15,NaN
1,6401020005,4259856,609120,1113.89,1113.89,潜水,1103.76,1098.42,1098.06,1097.60,...,1102.91,1102.83,1102.92,1102.74,1102.71,1103.02,1103.38,1103.57,1103.45,NaN
2,6401020006,4260010,609094,1111.23,1113.43,承压水,1095.29,1096.65,1094.34,1094.55,...,1092.31,1090.50,1090.41,1089.76,1089.81,1089.75,1091.16,1096.19,1095.84,NaN
3,6401030001,4259064,592689,1120.52,1121.49,潜水,1118.83,1118.68,1118.61,1118.78,...,1118.26,1118.31,1118.61,1118.81,1118.51,1118.30,1118.47,1118.81,1118.43,NaN
4,6401030002,4259095,592689,1120.52,1121.43,承压水,1110.00,1109.43,1109.17,1109.85,...,1114.09,1112.79,1112.59,1112.48,1112.12,1108.08,1110.17,1107.09,1106.69,NaN

In [10]:
data.shape

(30, 354)

In [13]:
pd.isna(data)

,统一编号,X,Y,地面高程,井口高程,地下水类型,32874,32905,32933,32964,...,43160,43191,43221,43252,43282,43313,43344,43374,43405,43435
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
19,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
23,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,True
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
28,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
29,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True

In [14]:
data.columns

Index([ '统一编号',     'X',     'Y',  '地面高程',  '井口高程', '地下水类型',   32874,   32905,
         32933,   32964,
       ...
         43160,   43191,   43221,   43252,   43282,   43313,   43344,   43374,
         43405,   43435],
      dtype='object', length=354)

['统一编号',
 'X',
 'Y',
 '地面高程',
 '井口高程',
 '地下水类型',
 '1990年1月',
 '1990年2月',
 '1990年3月',
 '1990年4月',
 '1990年5月',
 '1990年6月',
 '1990年7月',
 '1990年8月',
 '1990年9月',
 '1990年10月',
 '1990年11月',
 '1990年12月',
 '1991年1月',
 '1991年2月',
 '1991年3月',
 '1991年4月',
 '1991年5月',
 '1991年6月',
 '1991年7月',
 '1991年8月',
 '1991年9月',
 '1991年10月',
 '1991年11月',
 '1991年12月',
 '1992年1月',
 '1992年2月',
 '1992年3月',
 '1992年4月',
 '1992年5月',
 '1992年6月',
 '1992年7月',
 '1992年8月',
 '1992年9月',
 '1992年10月',
 '1992年11月',
 '1992年12月',
 '1993年1月',
 '1993年2月',
 '1993年3月',
 '1993年4月',
 '1993年5月',
 '1993年6月',
 '1993年7月',
 '1993年8月',
 '1993年9月',
 '1993年10月',
 '1993年11月',
 '1993年12月',
 '1994年1月',
 '1994年2月',
 '1994年3月',
 '1994年4月',
 '1994年5月',
 '1994年6月',
 '1994年7月',
 '1994年8月',
 '1994年9月',
 '1994年10月',
 '1994年11月',
 '1994年12月',
 '1995年1月',
 '1995年2月',
 '1995年3月',
 '1995年4月',
 '1995年5月',
 '1995年6月',
 '1995年7月',
 '1995年8月',
 '1995年9月',
 '1995年10月',
 '1995年11月',
 '1995年12月',
 '1996年1月',
 '1996年2月',
 '1996年3月',
 '1996年4月',
 '1996年5月',
 '1996年6月',
 '1996年7月',
 '1996年8月',
 '1996年9月',
 '1996年10月',
 '1996年11月',
 '1996年12月',
 '1997年1月',
 '1997年2月',
 '1997年3月',
 '1997年4月',
 '1997年5月',
 '1997年6月',
 '1997年7月',
 '1997年8月',
 '1997年9月',
 '1997年10月',
 '1997年11月',
 '1997年12月',
 '1998年1月',
 '1998年2月',
 '1998年3月',
 '1998年4月',
 '1998年5月',
 '1998年6月',
 '1998年7月',
 '1998年8月',
 '1998年9月',
 '1998年10月',
 '1998年11月',
 '1998年12月',
 '1999年1月',
 '1999年2月',
 '1999年3月',
 '1999年4月',
 '1999年5月',
 '1999年6月',
 '1999年7月',
 '1999年8月',
 '1999年9月',
 '1999年10月',
 '1999年11月',
 '1999年12月',
 '2000年1月',
 '2000年2月',
 '2000年3月',
 '2000年4月',
 '2000年5月',
 '2000年6月',
 '2000年7月',
 '2000年8月',
 '2000年9月',
 '2000年10月',
 '2000年11月',
 '2000年12月',
 '2001年1月',
 '2001年2月',
 '2001年3月',
 '2001年4月',
 '2001年5月',
 '2001年6月',
 '2001年7月',
 '2001年8月',
 '2001年9月',
 '2001年10月',
 '2001年11月',
 '2001年12月',
 '2002年1月',
 '2002年2月',
 '2002年3月',
 '2002年4月',
 '2002年5月',
 '2002年6月',
 '2002年7月',
 '2002年8月',
 '2002年9月',
 '2002年10月',
 '2002年11月',
 '2002年12月',
 '2003年1月',
 '2003年2月',
 '2003年3月',
 '2003年4月',
 '2003年5月',
 '2003年6月',
 '2003年7月',
 '2003年8月',
 '2003年9月',
 '2003年10月',
 '2003年11月',
 '2003年12月',
 '2004年1月',
 '2004年2月',
 '2004年3月',
 '2004年4月',
 '2004年5月',
 '2004年6月',
 '2004年7月',
 '2004年8月',
 '2004年9月',
 '2004年10月',
 '2004年11月',
 '2004年12月',
 '2005年1月',
 '2005年2月',
 '2005年3月',
 '2005年4月',
 '2005年5月',
 '2005年6月',
 '2005年7月',
 '2005年8月',
 '2005年9月',
 '2005年10月',
 '2005年11月',
 '2005年12月',
 '2006年1月',
 '2006年2月',
 '2006年3月',
 '2006年4月',
 '2006年5月',
 '2006年6月',
 '2006年7月',
 '2006年8月',
 '2006年9月',
 '2006年10月',
 '2006年11月',
 '2006年12月',
 '2007年1月',
 '2007年2月',
 '2007年3月',
 '2007年4月',
 '2007年5月',
 '2007年6月',
 '2007年7月',
 '2007年8月',
 '2007年9月',
 '2007年10月',
 '2007年11月',
 '2007年12月',
 '2008年1月',
 '2008年2月',
 '2008年3月',
 '2008年4月',
 '2008年5月',
 '2008年6月',
 '2008年7月',
 '2008年8月',
 '2008年9月',
 '2008年10月',
 '2008年11月',
 '2008年12月',
 '2009年1月',
 '2009年2月',
 '2009年3月',
 '2009年4月',
 '2009年5月',
 '2009年6月',
 '2009年7月',
 '2009年8月',
 '2009年9月',
 '2009年10月',
 '2009年11月',
 '2009年12月',
 '2010年1月',
 '2010年2月',
 '2010年3月',
 '2010年4月',
 '2010年5月',
 '2010年6月',
 '2010年7月',
 '2010年8月',
 '2010年9月',
 '2010年10月',
 '2010年11月',
 '2010年12月',
 '2011年1月',
 '2011年2月',
 '2011年3月',
 '2011年4月',
 '2011年5月',
 '2011年6月',
 '2011年7月',
 '2011年8月',
 '2011年9月',
 '2011年10月',
 '2011年11月',
 '2011年12月',
 '2012年1月',
 '2012年2月',
 '2012年3月',
 '2012年4月',
 '2012年5月',
 '2012年6月',
 '2012年7月',
 '2012年8月',
 '2012年9月',
 '2012年10月',
 '2012年11月',
 '2012年12月',
 '2013年1月',
 '2013年2月',
 '2013年3月',
 '2013年4月',
 '2013年5月',
 '2013年6月',
 '2013年7月',
 '2013年8月',
 '2013年9月',
 '2013年10月',
 '2013年11月',
 '2013年12月',
 '2014年1月',
 '2014年2月',
 '2014年3月',
 '2014年4月',
 '2014年5月',
 '2014年6月',
 '2014年7月',
 '2014年8月',
 '2014年9月',
 '2014年10月',
 '2014年11月',
 '2014年12月',
 '2015年1月',
 '2015年2月',
 '2015年3月',
 '2015年4月',
 '2015年5月',
 '2015年6月',
 '2015年7月',
 '2015年8月',
 '2015年9月',
 '2015年10月',
 '2015年11月',
 '2015年12月',
 '2016年1月',
 '2016年2月',
 '2016年3月',
 '2016年4月',
 '2016年5月',
 '2016年6月',
 '2016年7月',
 '2016年8月',
 '2016年9月',
 '2016年10月',
 '2016年11月',
 '2016年12月',
 '2017年1月',
 '2017年2月',
 '2017年3月',
 '2017年4月',
 '2017年5月',
 '2017年6月',
 '2017年7月',
 '2017年8月',
 '2017年9月',
 '2017年10月',
 '2017年11月',
 '2017年12月',
 '2018年1月',
 '2018年2月',
 '2018年3月',
 '2018年4月',
 '2018年5月',
 '2018年6月',
 '2018年7月',
 '2018年8月',
 '2018年9月',
 '2018年10月',
 '2018年11月',
 '2018年12月']